[tool.ruff]
# Allow lines to be as long as 120.
line-length = 120

[tool.ruff.lint]
select = [
    # Pyflakes
    "F",
    # isort
    "I",
]

[tool.mypy]
ignore_missing_imports = true
disable_error_code = ["import-untyped"]
