services:
  dev:
    image: hub.byted.org/base/lab.pytorch2:2.7.1_abi.py311.cu126.post1
    # build: .
    stdin_open: true    # -i
    tty: true           # -t
    network_mode: host  # --network=host
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - /etc/shadow:/etc/shadow:ro
      - /opt/tiger:/opt/tiger
      - /data01/ljh:/data01/ljh
      - ${HOME}:${HOME}
    cap_add:
      - ALL
    shm_size: 16gb
    command:
      - bash
      - -c
      - |
        echo "${USER}   ALL=(ALL:ALL) NOPASSWD: ALL" >> /etc/sudoers
        sed -i 's/^#Port 22$$/Port 2222/g' /etc/ssh/sshd_config
        service ssh start
        exec bash
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 8
              capabilities: [gpu]
    working_dir: /data01/ljh
